@if (heading) {
<h4>{{ heading }}</h4>
}
<div class="hit-locations-grid">
  @for (location of getHitLocationKeys(); track location) {
    <div class="form-group location-group">
      <label [attr.for]="'hit-' + location">{{ location }}</label>
      <div class="location-inputs">
        <div class="input-wrapper">
          <span class="input-label">HP</span>
          <input
            type="number"
            [id]="'hit-' + location"
            [(ngModel)]="hitLocations[location]"
            [name]="'hit-' + location"
            min="0"
            class="hp-input"
          />
        </div>
        @if (armor) {
          <div class="input-wrapper">
            <span class="input-label">AP</span>
            <input
              type="number"
              [id]="'armor-' + location"
              [(ngModel)]="armor[location]"
              [name]="'armor-' + location"
              min="0"
              class="ap-input"
              disabled
            />
          </div>
        }
      </div>
    </div>
  }
</div>
<button type="button" class="btn-calculate" (click)="calculateHitPoints()">
  Calculate
</button>
