@if (heading) {
<h4>{{ heading }}</h4>
}
<div class="quick-roll">
  <button type="button" class="btn btn-roll-all" (click)="rollAll.emit()">
    {{ translationService.get('button.rollAll', 'Roll All 3D6') }}
  </button>
</div>

<div class="stats-grid">
  <div class="form-group">
    <label for="str" [class.success-label]="isFieldRandomized('str')">{{ translationService.get('char.str', 'STR (Strength)') }}:</label>
    <div class="input-with-dice">
      <input
        type="number"
        id="str"
        [(ngModel)]="stats.STR"
        name="str"
        min="1"
        max="30"
        required
        [class.success-field]="isFieldRandomized('str')"
      />
      <button type="button" class="btn-dice" (click)="rollStat.emit('STR')" title="Roll 3d6">3d6</button>
    </div>
  </div>

  <div class="form-group">
    <label for="con" [class.success-label]="isFieldRandomized('con')">{{ translationService.get('char.con', 'CON (Constitution)') }}:</label>
    <div class="input-with-dice">
      <input
        type="number"
        id="con"
        [(ngModel)]="stats.CON"
        name="con"
        min="1"
        max="30"
        required
        [class.success-field]="isFieldRandomized('con')"
      />
      <button type="button" class="btn-dice" (click)="rollStat.emit('CON')" title="Roll 3d6">3d6</button>
    </div>
  </div>

  @if (showSiz) {
  <div class="form-group">
    <label for="siz" [class.success-label]="isFieldRandomized('siz')">{{ translationService.get('char.siz', 'SIZ (Size)') }}:</label>
    <div class="input-with-dice">
      <input
        type="number"
        id="siz"
        [(ngModel)]="stats.SIZ"
        name="siz"
        min="1"
        max="30"
        required
        [class.success-field]="isFieldRandomized('siz')"
      />
      <button type="button" class="btn-dice" (click)="rollStat.emit('SIZ')" title="Roll 3d6">3d6</button>
    </div>
  </div>
  }

  <div class="form-group">
    <label for="dex" [class.success-label]="isFieldRandomized('dex')">{{ dexLabel }}:</label>
    <div class="input-with-dice">
      <input
        type="number"
        id="dex"
        [(ngModel)]="stats.DEX"
        name="dex"
        min="1"
        max="30"
        required
        [class.success-field]="isFieldRandomized('dex')"
      />
      <button type="button" class="btn-dice" (click)="rollStat.emit('DEX')" title="Roll 3d6">3d6</button>
    </div>
  </div>

  <div class="form-group">
    <label for="int" [class.success-label]="isFieldRandomized('int')">{{ translationService.get('char.int', 'INT (Intelligence)') }}:</label>
    <div class="input-with-dice">
      <input
        type="number"
        id="int"
        [(ngModel)]="stats.INT"
        name="int"
        min="1"
        max="30"
        required
        [class.success-field]="isFieldRandomized('int')"
      />
      <button type="button" class="btn-dice" (click)="rollStat.emit('INT')" title="Roll 3d6">3d6</button>
    </div>
  </div>

  <div class="form-group">
    <label for="pow" [class.success-label]="isFieldRandomized('pow')">{{ powLabel }}:</label>
    <div class="input-with-dice">
      <input
        type="number"
        id="pow"
        [(ngModel)]="stats.POW"
        name="pow"
        min="1"
        max="30"
        required
        [class.success-field]="isFieldRandomized('pow')"
      />
      <button type="button" class="btn-dice" (click)="rollStat.emit('POW')" title="Roll 3d6">3d6</button>
    </div>
  </div>

  <div class="form-group">
    <label for="cha" [class.success-label]="isFieldRandomized('cha')">{{ translationService.get('char.cha', 'CHA (Charisma)') }}:</label>
    <div class="input-with-dice">
      <input
        type="number"
        id="cha"
        [(ngModel)]="stats.CHA"
        name="cha"
        min="1"
        max="30"
        required
        [class.success-field]="isFieldRandomized('cha')"
      />
      <button type="button" class="btn-dice" (click)="rollStat.emit('CHA')" title="Roll 3d6">3d6</button>
    </div>
  </div>
</div>
